@tailwind base;
@tailwind components;
@tailwind utilities;

.parentContainer {
    width: 100%;
    height: 180vh;
    background-color: #d5f0e6;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
}
  
  .childContainer {
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    margin: 100px;
    transition-duration: 0.5s;
    border: 3px solid white;
    box-shadow: rgba(0, 155, 59, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
  .childContainer:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 155, 59, 0.6) 0px 0px 0px 3px, rgba(6, 24, 44, 0.8) 0px 6px 10px -1px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    border-color: #59b875;
}

  .imageContainer {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(3, 124, 50, 0.2) 0px 2px 8px 0px;
  }

  .imgSize {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
  
  .title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 13px;
  }
  
  .readMore {
    width: 40%;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #16423C;
    font-size: 10px;
    color: #16423C;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 0.5s;
  }
  
  .readMore:hover {
    border: 2px solid #16423C;
    color: #239989;
  }
  